<li> <a href="/home"> Home </a> </li>

<div class="container">


  <div class="row">
    <div class="col-xs-2">
    </div>
    <div class="col-xs-3">
        <span>Room {{movie.room}} {{movie.title}}</span>
      <img src="{{movie.poster}}" alt="">
    </div>
    <div class="col-xs-4">
      <div class="col-xs-2">
        <p><b>Genres</b> {{movie.genres}}</p>
        <p><b>Year</b> {{movie.year}}</p>
        <p><b>Actors</b> {{movie.actors}}</p>
      </div>
      <div class="col-xs-12">
        <p><b>Synopsis</b> {{movie.synopsis}}</p>
        <a class="btn btn-primary" href="/home"> Return Home </a>

      </div>
    </div>

    <div class="col-xs-2">
    </div>

  </div>

</div>
