
<div class="container" id="container">
  <div class="row">
    <div class="col-xs-2">
    </div>
    <div class="col-xs-3">
        <span><p>Room {{movie.room}}</p> <b id="title">{{movie.title}}</b></span>
      <img src="{{movie.poster}}" alt="">
    </div>
    <div class="col-xs-4">
      <div class="col-xs-12">
        <br>
        <br>
        <br>
        <p><b>Genres</b> {{movie.genres}}</p>
        <p><b>Year</b> {{movie.year}}</p>
        <p id="actors"><b>Actors</b> {{movie.actors}}</p>
        <p id="actors"><b>Directed By</b> {{movie.director}}</p>
      </div>
      <div class="col-xs-12">
        <p><b>Synopsis</b> {{movie.synopsis}}</p>
        <a class="btn btn-primary" href="/home"> Return Home </a>

      </div>
    </div>

    <div class="col-xs-2">
    </div>

  </div>

</div>
