
<div class="container" id="movieList">
  <div class="row">
    <div class="col-xs-1">
    </div>
    <div id="eachMovie"*ngFor="let movie of movies">
      <div class="col-xs-2">
        <div class="">
          <img [routerLink]="['/movie', movie.id]" src="{{movie.poster}}" alt="">
        </div>
        <!-- <p id="room">{{movie.title}}</p> -->
        <a id="room" [routerLink]="['/movie', movie.id]">{{movie.title}}</a>
        <div id="specs">{{movie.hours}} Hours | Room {{movie.room}}</div>
        <div id="specs">Released: {{movie.year}}</div>
        <div class="row">
          <button class="btn btn-warning"type="button" name="button"id="detsBtn">See Movie Details</button>
        </div>
        </div>

    </div>
    <div class="col-xs-1">
    </div>

  </div>

</div>
